body {
    margin: 30px;
    background-color: #263238;
    text-align: center;
    color: #CFD8DC;
}
#response {
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    display: none;
    color: rgb(255, 130, 28);
}