body {
    margin: 30px;
    background-color: #263238;
    text-align: center;
    color: #CFD8DC;
}
#response {
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    display: none;
    color: rgb(65, 201, 255);
    text-shadow: rgb(65, 201, 255) 1px 0 10px;
}